<p>NEKI SADRZAJ SA NEKE DRUGE STRANE</p>
<div class="modal fade" id="loginModal">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Uloguj se</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>×</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="">
            <div class="form-group">
              <label></label>
              <input type="email" class="form-control form-control-sm mx-auto w-100" placeholder="Korisniko ime">
              <small class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label></label>
              <input type="password" class="form-control form-control-sm mx-auto w-100" placeholder="Lozinka"> </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success">Uloguj se&nbsp;</button>
          <button type="button" class="btn btn-dark" data-dismiss="modal">Odustani</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="registerModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Registruj se</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>×</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Ime"> </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Korisnicko ime"> </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Lozinka"> </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Korisnicko ime"> </div>
            <div class="form-group">
              <p class="">Izaberite sliku:</p>
              <input type="file" class="form-control-file"> </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success">Registruj se</button>
          <button type="button" class="btn btn-dark" data-dismiss="modal">Odustani</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="createPostModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Objavi</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-body">
            <form class="">
              <div class="form-group">
                <input type="email" id = "postTitleInput" class="form-control" placeholder="Naslov"> </div>
              <div class="form-group">
                <input type="text" id = "postDescriptionInput" class="form-control h-25" placeholder="Tekst"> </div>
              <div class="form-group">
                <label>Tagovi:</label>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Tag 1</label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Tag 2</label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Tag 3</label>
                </div>
              </div>
              <div class="form-group">
                <p class="">Izaberite sliku:</p>
                <input type="text" id = "postTextInput" class="form-control-file"> </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id = "btnCreatePost" class="btn btn-success">Gotovo</button>
          <button type="button" class="btn btn-dark" data-dismiss="modal">Odustani</button>
        </div>
      </div>
    </div>
  </div>